.card {
    background-color: var(--secondary-color);
}
  
.card--default {
    padding: 20px;
    border-radius: 10px;
    width: calc(100% - 40px - 80px);
    margin-bottom: 40px;
}

.card--board {
    border-radius: 10px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--quaternary-color);
}

.card--left {
    border-radius: 10px;
    width: 250px;
    min-height: calc(100vh - 40px - 40px - 20px);
    margin-right: 20px;
    padding: 20px;
}

.card--right {
    border-radius: 10px;
    width: calc(100% - 250px - 40px - 40px - 40px - 40px);
    min-width: 700px;
    max-width: calc(100% - 250px - 40px - 40px - 40px - 40px);
    min-height: calc(100vh - 40px - 40px - 20px);
    padding: 30px;
    padding-left: 60px;
    padding-right: 60px;
}

