.checkbox {
    display: inline;
    margin-bottom: -5px;
}

.checkbox input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--quinary-color);
}

.checkbox input[type=checkbox] {
    border-radius: 3px;
}

.checkbox input:checked {
    border-color: transparent;
    background: var(--primary-color) border-box;
    box-shadow: 0 0 0 4px inset var(--secondary-color);
}

.checkbox input:not(:checked):hover {
    border-color: transparent;
    background: linear-gradient(var(--secondary-color), var(--secondary-color)) padding-box, var(--primary-color) border-box;
}
